.gradle
/build/
/run/
/out/
*.DS_STORE
*.iml
*.ipr
*.launch
*.iws
/bin/
.settings/*

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.project
.classpath
.settings/org.eclipse.buildship.core.prefs
src/main/resources/assets/base/models/item/wrench.json
.idea
.vscode/**
logs

scripts/**/*.png
scripts/**/overlays
scripts/generators/blocks/blockstates
scripts/generators/blocks/models
